.topic{
    background-color: rgb(233, 114, 134);
    color: whitesmoke;
}
body{
    background-color: rgb(171, 243, 243);
    text-align: center;
}
.card{
    width: 500px;
    margin: 30px 0px 0px 310px;
}